@charset "UTF-8";

/* Todas as demais mídias */

/*
 Tipical Device Breakpoints
----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 769px até 922px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/


@media print { /* impressão*/
    
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* table */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    
    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* desktop */
   body {
        background-image: url(../imagens/back-pc.jpg);
   }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 1200px) { /* grandes telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}